<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <context-param>
        <description>Verzeichnis mit den XML-Dateien fuer die UGs</description>
        <param-name>usergroup.directory</param-name>
        <param-value>C:\workspace\Meethub-Hannover\testdata\usergroup</param-value>
    </context-param>
    <context-param>
        <description>Basis-URL, unter der der Service sich selbst erreicht</description>
        <param-name>root.url</param-name>
        <param-value>http://localhost:8080/Meethub-Hannover/</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>mergedCalendar</servlet-name>
        <servlet-class>de.meethub.mergedCalendar.MergedCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ical2json</servlet-name>
        <servlet-class>de.meethub.ical2json.JsonEventsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>de.meethub.site.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adapter_agilewh</servlet-name>
        <servlet-class>de.meethub.adapters.agilewh.AgilewhAdapterServlet</servlet-class>
        <init-param>
            <param-name>base-url</param-name>
            <param-value>http://www.agilewh.de/themenbacklog/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>adapter_swk</servlet-name>
        <servlet-class>de.meethub.adapters.swk.SwkAdapterServlet</servlet-class>
        <init-param>
            <param-name>base-url</param-name>
            <param-value>https://www.softwerkskammer.org/activities/ical/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>adapter_cocoaheads</servlet-name>
        <servlet-class>de.meethub.adapters.xing.XingAdapterServlet</servlet-class>
        <init-param>
            <param-name>base-url</param-name>
            <param-value>https://www.xing.com/communities/groups/cocoaheads-hannover-1003453</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>adapter_leinelab</servlet-name>
        <servlet-class>de.meethub.adapters.rss.RssAdapterServlet</servlet-class>
        <init-param>
            <param-name>base-url</param-name>
            <param-value>http://cal.leinelab.de/rss/rss2.0.php?cal=&amp;cpath=&amp;rssview=month</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>adapter_hannoverjs</servlet-name>
        <servlet-class>de.meethub.adapters.hannoverjs.HjsAdapterServlet</servlet-class>
        <init-param>
            <param-name>base-url</param-name>
            <param-value>http://hannoverjs.github.io/hannoverjs.de/#/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>adapter_fuckupnights</servlet-name>
        <servlet-class>de.meethub.adapters.eventbrite.EventbriteAdapterServlet</servlet-class>
        <init-param>
            <param-name>base-url</param-name>
            <param-value>http://www.eventbrite.com/o/fuckup-nights-hannover-7886266122?s=32452341</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>mergedCalendar</servlet-name>
        <url-pattern>/mergedCalendar.ics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ical2json</servlet-name>
        <url-pattern>/mergedCalendar.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter_agilewh</servlet-name>
        <url-pattern>/agilewh.ics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter_swk</servlet-name>
        <url-pattern>/swk.ics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter_cocoaheads</servlet-name>
        <url-pattern>/cocoaheads.ics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter_leinelab</servlet-name>
        <url-pattern>/leinelab.ics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter_hannoverjs</servlet-name>
        <url-pattern>/hannoverjs.ics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter_fuckupnights</servlet-name>
        <url-pattern>/fuckupnights.ics</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>